{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}
<div class="container-fluid my-4 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
<!--<img onload="window.uet &amp;&amp; uet.call &amp;&amp; uet(&quot;af&quot;);" src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/MFSFeb/TopBanner/Main-banner_PC.gif" alt="Top Banner">-->
    <div class="carousel-item active">
      <center><img  src="/static/manas.jpeg"  width=200 height=200 class="d-block w-20"  alt="..."><br>
          Founder Director</center>
      </div>
    <div class="carousel-item">
      <center><img src="/static/sol1.jpeg" width=300 height=200 class="d-block w-20" alt="..."><br>
      Manager<br><div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the World of Learning...</h5>
      </div></center>
    </div>
    <div class="carousel-item" >
      <center><img src="/static/b1.jpeg" width=300 height=200 class="d-block w-20" alt="..."><br>
      Coordinator</center>
    </div>
  </div>
</div>
</div>
<center><h3>This Institution was initiated with the inspiration instilled <br><br>by some of our loving students to make the
learning<br><br> process more enthusiastic and simple.
    Here student gets <br><br> actual support and motivation to understand the concepts of complex topic <br><br>
    under one roof.</h3>

</center>

<div class="container" >

</div>

<!-- Form Bootstrap CSS -->


{% endblock body %}